.d-flex > ion-card {
  width: 100%;
}

ion-card {
  position: relative;
  z-index: 0;
  padding: 60px 0 6px;

  .close {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 20px;
    color: #000;
  }
}

ion-item {
  --min-height: 106px;
  --border-color: rgba(0,0,0,0.0625);
  --padding-start: 30px;
  --padding-top: 21px;

  &::part(native) {align-items: flex-start;}
}

ion-item ion-icon {margin: -3px 12px 0 0;}

ion-item ion-label {
  font-size: 16px !important;
  font-weight: 500;
  line-height: 24px;
}

ion-item ion-text {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  color: var(--ion-color-grey-four);
}

.scroll {
  max-height: calc(100vh - 212px);
  overflow-y: scroll;
}

.footer {padding: 20px 14px;}