<ion-content></ion-content>

<ion-footer>
  <ion-item (click)="doDelete()" [disabled]="deleteDisabled" lines="none">
    <ion-icon slot="start" src="assets/images/icon_delete_outline.svg" color="grey-five"></ion-icon>
    <ion-label>{{ deleteLabel }}</ion-label>
  </ion-item>
  <ion-item (click)="doReset()" [disabled]="editDisabled" lines="full">
    <ion-icon slot="start" src="assets/images/icon_edit.svg" color="grey-five"></ion-icon>
    <ion-label>{{ editLabel }}</ion-label>
  </ion-item>
  <ion-item (click)="dismiss()" lines="none">
    <ion-icon slot="start" name="close"></ion-icon>
    <ion-label>취소</ion-label>
  </ion-item>
</ion-footer>