ion-content {
  --background: transparent;
}

ion-card {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 20px;

  > ion-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
    font-size: 20px;
    color: #000;
  }
}

ion-card-header {
  padding: 64px 0 46px;
}

ion-card-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  white-space: break-spaces;
}

ion-card-subtitle {
  margin-top: 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

ion-card-content {
  padding: 0 14px 36px;
}

ion-button {
  margin: 8px 0;
}