<ion-content>
  <div class="d-flex align-center">
    <ion-card>
      <ion-icon (click)="dismiss()" name="close"></ion-icon>
      <ion-card-header class="ion-text-center">
        <ion-icon src="assets/images/check_circle.svg"></ion-icon>
        <ion-card-title>선택한 부위에 대한<br>증상을 응답해 주세요.</ion-card-title>
        <ion-card-subtitle>
          <ion-text *ngFor="let text of args"><ion-icon src="assets/images/icon_check.svg" color="primary"></ion-icon> {{ text }}</ion-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="doSubmit()" expand="block">{{ args[0] }}부위 통증 설문 시작하기</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
