<ion-content>
  <div class="d-flex align-center justify-center">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-icon src="assets/images/icon_present_circle.svg"></ion-icon>
        <ion-card-title>{{ title }} 포인트 적립</ion-card-title>

        <ion-icon (click)="dismiss()" class="close" name="close"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of items" lines="none">
            <ion-label>{{ item.text }}</ion-label>
            <ion-text slot="end" color="primary">+{{ item.point }} 포인트</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>