ion-content {
  --background: transparent;
}

ion-card {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 20px;

  > ion-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
    font-size: 20px;
    color: #000;
  }
}

ion-card-header {
  padding: 53px 0 38px;
}

ion-card-title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  white-space: break-spaces;
}

ion-card-subtitle {
  padding: 0 37px;
}

ion-input {
  --color: #000;
  --placeholder-color: #BEBEBE;
  --placeholder-opacity: 1;
  height: 52px;
  font-size: 16px;
  font-weight: normal;
  border-bottom: solid 1px var(--placeholder-color);

  &.has-focus,
  &.has-value {border-bottom-color: var(--color);}
}

ion-card-content {
  padding: 0 14px 36px;
}

ion-button {
  margin: 8px 0;
}